<!DOCTYPE html>
<html class="background">

<head>
</head>

<body>
    <div class="heading-div">
        <h2 class="heading">Welcome Tara</h2>
    </div>
    {% if error_statement|length: %} { {error_statement}} {% else: %}
    <h2 class="heading">This the updated infomation for {{name}}:</h2>
    <hr>
    <form action="/admin" method="get">
        {% if profs|length: %} {% for prof in profs: %}
        <table style="text-align: left;" class="profInfoTable">
            <tr>
                <td align="right" class="label">NetID:</td>
                <td>{{prof[0]}}</td>
            </tr>
            <tr>
                <td align="right" class="label"></title>First Name:</td>
                <td>{{prof[1]}}</td>
            </tr>
            <tr>
                <td align="right" class="label"></title>Last Name:</td>
                <td>{{prof[2]}}</td>
            </tr>
            <tr>
                <td align="right" class="label">Phone:</td>
                <td>{{prof[5]}}</td>
            </tr>
            <tr>
                <td align="right" class="label">Email:</td>
                <td>{{prof[4]}}</td>
            </tr>
            <tr>
                <td align="right" class="label">Title:</td>
                <td>{{prof[3]}}</td>
            </tr>
            <tr>
                <td align="right" class="label">Website:</td>
                <td>{{prof[6]}}</td>
            </tr>
            <tr>
                <td align="right" class="label">Rooms:</td>
                <td>{{prof[7]}}</td>
            </tr>
            <tr>
                <td align="right" class="label">Department:</td>
                <td>{{prof[8]}}</td>
            </tr>
            <tr>
                <td align="right" class="label">Areas:</td>
                <td>{{prof[9]}}</td>
            </tr>
            <tr>
                <td align="right" class="label">Bio:</td>
                <td>{{prof[10]}}</td>
            </tr>
            <tr>
                <td align="right" class="label">Image File:</td>
                <td>{{prof[11]}}</td>
            </tr>
            <tr>
                <td></td>
            </tr>            
        </table>

        <input style="font-size:15pt" type="submit" value="Edit another professor" class="searchButton editButton">

        {% endfor %} {% endif %}{% endif %}

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin.css')}}">

</body>

</html>