<!DOCTYPE html>
<html>

<head>
</head>

<body>
    {% if error_statement|length: %}
     {{error_statement}} 
     {% else: %}
    <h2 class="heading">Enter the professor's infomation below:</h2>
    <hr>
    {% if prof|length: %}
    <form action="/displayprof" method="get">
        <table style="text-align: left;" class="table">
            <tr>
                <td align="right"><label for="netid">NetID:</label></td>
                <td><label for="netid">{{prof[0]}}</td>
            </tr>
            <tr>
                <td align="right"><label for="firstname"></title>First Name:</label></td>
                <td><input type="text" id="firstname" name="firstname" value="{{prof[1]}}"></td>
            </tr>
            <tr>
                <td align="right"><label for="lastname"></title>Last Name:</label></td>
                <td><input type="text" id="lastname" name="lastname" value="{{prof[2]}}"></td>
            </tr>
            <tr>
                <td align="right"><label for="phone">Phone:</label></td>
                <td><input type="text" id="phone" name="phone" value="{{prof[5]}}"></td>
            </tr>
            <tr>
                <td align="right"><label for="email">Email:</label></td>
                <td><input type="text" id="email" name="email" size="40" value="{{prof[4]}}"></td>
            </tr>
            <tr>
                <td align="right"><label for="title">Title:</label></td>
                <td><input type="text" id="title" name="title" size="40" value="{{prof[3]}}"></td>
            </tr>
            <tr>
                <td align="right"><label for="website">Website:</label></td>
                <td><input type="text" id="website" name="website" size="40" value="{{prof[6]}}"></td>
            </tr>
            <tr>
                <td align="right"><label for="rooms">Rooms:</label></td>
                <td><input type="text" id="rooms" name="rooms" size="40" value="{{prof[7]}}"></td>
            </tr>
            <tr>
                <td align="right"><label for="department">Department:</label></td>
                <td><input type="text" id="department" name="department" size="45" value="{{prof[8]}}"></td>
            </tr>
            <tr>
                <td align="right"><label for="areas">Areas:</label></td>
                <td><input type="text" id="areas" name="areas" size="62" value="{{prof[9]}}"></td>
            </tr>
            <tr>
                <td align="right"><label for="bio">Bio:</label></td>
                <td height="100"><textarea rows="10" cols="60" name="bio" name="bio">{{prof[10]}}</textarea></td>
            </tr>
            <tr>
                <td><label for="image">Image file: </label></td>
                <td><label for="imagefile">{{prof[11]}}</label></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="file" id="myfile" name="myfile"><br><br></td>
            </tr>
        </table>
        <input class="searchButton overwriteButton" type="submit" id="button" name="button" id="overwriteProf" value="Save" onclick="overwriteProf()">
    </form>
    <form action="/admin"><input class="searchButton cancelOverwriteButton" type="submit" id="button" name="button" value="Cancel"></form>

    <script>
        function overwriteProf() {
            alert("Professor's infomation updated");
        }
    </script>

    <form>
    {% else: %}
        <table style="text-align: left;">
            <tr>s
                <td align="right"><label for="noProf" style="color:red;">No professor </label></td>
                <td><label for="createNew" style="color:red;">found. Fill in the infomation for a new professor</td>
            </tr>
            <tr>
                <td align="right"><label for="netid">NetID:</label></td>
                <td><label for="netid">{{netid}}</td>
            </tr>
            <tr>
                <td align="right"><label for="firstname"></title>First Name:</label></td>
                <td><input type="text" id="firstname" name="firstname" value="{{firstname}}"></td>
            </tr>
            <tr>
                <td align="right"><label for="lastname"></title>Last Name:</label></td>
                <td><input type="text" id="lastname" name="lastname" value="{{lastname}}"></td>
            </tr>
            <tr>
                <td align="right"><label for="phone">Phone:</label></td>
                <td><input type="text" id="phone" name="phone" value="{{phone}}"></td>
            </tr>
            <tr>
                <td align="right"><label for="email">Email:</label></td>
                <td><input type="text" id="email" name="email" value="{{email}}"></td>
            </tr>
            <tr>
                <td align="right"><label for="title">Title:</label></td>
                <td><input type="text" id="title" name="title" size="40" value="{{title}}"></td>
            </tr>
            <tr>
                <td align="right"><label for="website">Website:</label></td>
                <td><input type="text" id="website" name="website" size="40" value="{{website}}"></td>
            </tr>
            <tr>
                <td align="right"><label for="rooms">Rooms:</label></td>
                <td><input type="text" id="rooms" name="rooms" size="40" value="{{rooms}}"></td>
            </tr>
            <tr>
                <td align="right"><label for="department">Department:</label></td>
                <td><input type="text" id="department" name="department" size="45" value="{{department}}"></td>
            </tr>
            <tr>
                <td align="right"><label for="areas">Areas:</label></td>
                <td><input type="text" id="areas" name="areas" size="62" value="{{areas}}"></td>
            </tr>
            <tr>
                <td align="right"><label for="bio">Bio:</label></td>
                <td height="100"><textarea rows="10" cols="60" name="bio" name="bio" value="{{bio}}"></textarea></td>
            </tr>
            <tr>
                <td align="right"><label for="image">Image file: </label></td>
                <td><label for="imagefile">None</label></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="file" id="myfile" name="myfile"><br><br></td>
        </table>

        <input type="submit" id="button" name="button" value="Create new professor" onclick="createProf()">
        <script>
            function createProf() {
                alert("Professor created");
            }
        </script>
        {% endif %} {% endif %}
    </form>
    <hr>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</body>

</html>