<!DOCTYPE html>
<html class="background">
    {% include 'header.html' %}
    <body>
        
      {{ error_statement }}

        <div class="heading-div">
          <h2 class="heading">Search for an Advisor</h2>
        </div>

        <form class = "searchForm" action="profs" method="GET">
          <div class="form-row">
            <div class="form-input-div">
              <input type="text" class="form-input" placeholder="Professor's Name" id="name" name="name">
            </div>
            <div class="form-input-div">
              <input type="text" class="form-input" placeholder="netid" id="netid" name="netid">
            </div>
            <div class="form-input-div">
              <input type="text" class="form-input" placeholder="Research Area" id="area" name="area">
            </div>
            <div class="form-input-div">
              <input type="submit" class="form-input search-button" value="Search">
            </div>
          </div>
        </form>

          {% if profs|length: %}

            {% for prof in profs: %}
            <div class="row">
              <div class="prof-image">
                <img src={{prof[11]}}/>
              </div>

              <div class="prof-info">
                <p class="prof-name">{{prof[1]}} {{prof[2]}}</p>
                <p class="prof-more-info">{{prof[3]}}</p>
                <p class="prof-more-info">{{prof[8]}}</p>
                <p class="prof-more-info">{{prof[5]}}</p>
                <p class="prof-more-info">{{prof[7]}}</p>
                <a href={{"mailto:" + prof[4]}}><img class="icon" src="static/email-icon.png"></a>
                <a href="{{prof[6]}}"><img class="icon" src="static/website-icon.png"></a>
              </div>

              <!-- <div class="expand-div">
                <img src="static/plus.png">
              </div> -->

            </div>
          <!-- <div class="expanded-info">
            <p class="prof-research-areas">{{prof[7]}}</p>
            <p class="prof-bio">{{prof[8]}}</p>
          </div> -->

          {% endfor %}

          {% else: %}

          <div>
            <h2 class="no-search-results">No search results. Please try different keywords. </h2>
          </div>

          {% endif %}
    </body>
</html>