.background{
    background-color: #C9C9C9;
}

.heading {
    position: absolute;
    width: 25vw;
    height: 8vh;
    margin-left: 37.5vw;
    margin-right: 37.5vw;
    margin-top: 15vh;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;

    color: #000000;
}

.header .title {
    position: absolute;
    width: 311px;
    height: 54px;
    left: 44px;
    top: 23px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 61px;

    color: #000000;
}

.header .logout {
    position: absolute;
    width: 95px;
    height: 38px;
    left: 1317px;
    top: 39px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    
    color: #000000;  
}

.searchForm {
    position: absolute;
    width: 75vw;
    height: 50vh;
    margin-left: 12.5vw;
    margin-right: 12.5vw;
    margin-top: 50vh;
}

::placeholder {
    opacity: 0.6;
    font-family: 'Open Sans', sans-serif;
    font-style: oblique;
}

.form-input-div {
    width: 24%;
    margin-right: 1%;
    height: 100%;

    background: #FFFFFF;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
    outline: none;
    border-radius: 6px;
}

.form-input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
}

.form-row {
    position: absolute;
    width: 100%;
    height: 6vh;
    display: inline-flex;
}

.search-button {
    background: #000000;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    height: 100%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;
    text-align: center;
    outline: none;

    
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-button:hover {
    transform: scale(1.05);
}