<html class="background">
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    </head>
    <body class="body">
        <div class="header">
            <a href="{{url_for('index')}}" class="title"  style="text-decoration:none">Re-Search</a>
            <a href="{{url_for('search')}}" class="login"  style="text-decoration:none">Login</a>
        </div>
    </body>
</html>