<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    </head>
    <body class="body">
        <div class="header">
            <a href="{{url_for('search')}}" class="title"  style="text-decoration:none">Re-Search</a>
            <a href="{{url_for('about')}}" class="about"  style="text-decoration:none">About</a>
            <a href="{{url_for('search')}}" class="login"  style="text-decoration:none">Login</a>
        </div>

        <div class="intro">
            <p> Use Re-Search to find an advisor for your Independent Work, Senior Thesis, or Research Project!</p>
        </div>

        <div class="button-div">
            <form class="button-form" action="search" method="GET">
                <button type="submit" class="login-button student-login-btn">Student Login</button>
            </form>
        </div>
        <div class="button-div">
            <form class="button-form" action="admin">
                <button type="submit" class="login-button admin-login-btn">Admin Login</button>
            </form>
        </div>
    </body>
</html>