<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

      <nav class="header">
        <a href="{{url_for('search')}}" class="title"  style="text-decoration:none">Re-Search</a>
        <a href="/" class="logout" style="text-decoration:none">Log Out</a>
      </nav>

        <div class="heading-div">
          <h2 class="heading">Search for an Advisor</h2>
        </div>

        <form class = "searchForm" id="searchInput">
          <div class="form-row">
            <div class="form-input-div">
              <input type="text" class="form-input" placeholder="Professor's Name, netid" id="nameNetid" name="nameNetid">
            </div>
          </div>
        </form>

        <form class = "tagForm" id="tagInput" onsubmit="return false">
            <input type="text" class="form-input" placeholder="Add Research Area and press Enter" id="newTagInput">
        </form>
        <div class="tag-input-div" id="tag-input-div"></div>

        <div class="results" id="results"></div>

        <div class="profPreferencesDiv" id="profPreferencesDiv">
          <h5>Advisor Preferences</h5><hr>
            <form class="submit_preferences_form" id="submit_preferences_form">
              <input class="submitPreferencesButton" value="Submit" type="submit">
            </form>
            <div class="alert alert-info collapse" role="alert" id="profLimitAlert">
              Only the <strong>top 4</strong> preferences are considered.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="closeProfLimitAlert">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='css/profs.css')}}">

        <script src="static/js/collapse.js"></script>
        <script src="static/js/profPreferences.js"></script>
        <script src="static/js/profs.js"></script>
    </body>
</html>